[run]
source =
    lib
    traps
omit =
    */old/*
    */__pycache__/*
    */.ipynb_checkpoints/*
    */holograms/cupyCGH.py

[report]
show_missing = true
skip_covered = false
omit =
    */holograms/cupyCGH.py
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @classmethod\s+def example

[html]
directory = htmlcov
